#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.count {
  margin: 12px 0;
}

.count-num {
  font-weight: 500;
}

.todo-form {
  display: flex;
  max-height: 36px;
  gap: 12px;
}

.todo-input {
  border-radius: 8px;
  width: 320px;
  padding: 0.2em 0.5em;
  font-size: 1em;
  outline: none;
  border: 1px solid #5a5a5a;
}

.todo-ul {
  list-style: none;
  display: block;
  width: 100%;
  padding: 0 4px;
  margin: 20px 0;
}

.todo-li {
  margin: 12px 0;
  display: flex;
  justify-content: space-between;
}

.btn-wrapper {
  display: flex;
  gap: 12px;
}

.btn-action-wrapper {
  display: flex;
  gap: 8px;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
